**/.idea
**/.apk
**/.env.**
**/.env
**/.DS_Store
!**/**.example
**/node_modules
**/dist
**/android
**/ios
**/.yarn

/api/uploads/*
**/.vscode

**/.expo

app/assets/config.ts
api/access.log
api/ecosystem.config.js
api/error.log
api/pm_id-0.pid
